.card {
  max-width: 98%;
  margin: 10px;
  
}

.heart {
  background-color: white;
  border: none;
  color: red;
  font-size: 40px;
  box-shadow: none;
  border-radius: 20px;


}

.heart:hover {
  background-color: white;
}


