.card {
  max-width: 98%;
  margin: 10px;
  }
.heart {
  background-color: white;
  border: none;
  color: red;
  font-size: 40px;
  box-shadow: none;
}

.heart:hover {
  background-color: white;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: -25px;
}

.movie_description {
  padding: 5px;
  height: 200px;

}

.button :hover {
  text-decoration: none;
}

.card-title {
  min-height: 3rem;
}


