.image {
    max-width: 200px;
    
}

.button {
    align-self: center;
}
.fav-poster {
    margin: 10px;
}

.page_title2 {
    font-size: 25px;
}
.title {
    text-align: center;
    margin-bottom: 20px;
}