.user-info {
    padding: 10px;
}
.favorite-movie {
    min-width: 120px;
    align-items: center;
    border: none;
}
.card-body {
border: none;
}

.favorite-movie-image {  
    min-width: 100px;
}

