.movie-poster img {
    margin: 10px;
    max-height: 300px;
    box-shadow: rgba(10, 9, 9, 0.24) 0px 5px 10px;
    
}
.movie-info {
    margin: 20px;
}

.movie-description {
    padding: 30px;

}




