.user {
  margin-top: 6px;
  padding: 10px;
  margin-left: 5px;
  color: #007Bff !important;

}
.hamburger {
 color: #008Bff;
 
}
.user:hover {
  text-decoration: underline;
}
.usericon {
    margin-right:5px;
    margin-bottom: 6px;
}

.portfolio {
  margin-top: 6px;
  padding: 10px;
}

.logout {
  margin-top: 5px;
  padding: 10px;
}
.main-nav {
  background-color: white;
  opacity: 0.95;

}

.navbar-logo {
    font-size: xx-large;
}