.user {
    margin-top: 6px;
    padding: 10px;
    }
        .portfolio {
            margin-top: 6px;
            padding: 10px
        }
    
        .logout {
            margin-top: 5px;
            padding: 10px;
}